/*ComponentB css*/

.textBox {
  background-color: #1f1f1f; 
  border-radius: 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
  width: 50rem;
  height: 15rem;
  font-size: 1.3rem;

}

.textTitle {
  display: flex;
justify-content: center;

}


.textSubtitle {
}

.instructionsText {
  display: flex;
flex-direction: column;
align-items: left;

}


.leftText {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
justify-content: center;
margin-top: -3rem;

}


