/*ComponentB css*/

.text {
  text-align: center;
  background-color: #1f1f1f; 
  border-radius: 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
  width: 50rem;
  height: 15rem;
  padding: 1rem;
  margin-top: 1rem; /*Added this so the grid component1 and component2* will allign with component3 height i cant find the root cause but this fixex it*/
}

