/*ComponentA css*/

.componentContainer {
  background-color: #1f1f1f;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
  text-align: center;
  width: 50rem;
  height: 20rem;
  border-radius: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;   
  justify-content: center; 
}

.inputRow {
  display: flex;
  gap: 10px;          
  width: 80%;        
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem; 
}

/* Input field styling */
.inputField {
  width: 80%;
  padding: 12px 16px;
  border: 1px solid #333;
  border-radius: 8px;
  background-color: #2c2c2c;
  color: #fff;
  font-size: 1em;
  outline: none;
}

/* Input field focus state */
.inputField:focus {
  border: 1px solid #4caf50;
  background-color: #353535;
}

.errorText {
  color: #e74c3c;
  font-weight: 500;
  padding-top: 0.5rem;
}

/* Submit button styling */
.submitButton {
  padding: 12px 30px;
  border-radius: 8px;
  border: none;
  background-color: #4caf50;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

/* Submit button hover effect */
.submitButton:hover {
  background-color: #45a049;
  transform: scale(1.05);
}

